<p>Dragon Ball Z</p>
<hr>

<div class="row">
    <div class="col">                                                      
        <!-- <app-personajes [data]="personajes" ></app-personajes> -->
        <app-personajes></app-personajes>
        <h3>Personajes</h3>
        <hr/>

    </div>

    //Se recive en evemt del hijo
    <div class="col">
        <!-- <app-agregar [data]="nuevo" (nuevoPersonaje) ="agregarPersonaje($event) "></app-agregar> -->
      
        <app-agregar></app-agregar>
    </div>
</div>